.facebook { background-position: 48px 48px ; padding:3px; } 
.youtube { background-position: 96px 48px ; padding:3px;} 
.twitter { background-position: 144px 48px ; padding:3px;}
.linkedin { background-position: 192px 48px ; padding:3px;} 
.googleplus { background-position: 240px 48px ; padding:3px;} 
